services:
  ################################
  # required services
  #
  # - temporal: for workflow management
  # - zitadel: for identity and access management (maybe)
  # - clickhouse: for analytics
  ################################

  # temporal.io

  temporal:
    image: temporalio/temporal:1.5.1
    ports:
      # Port 7233 is for the Temporal gRPC frontend. Your workers and clients will connect to this.
      - "7233:7233"
      # Port 8233 is for the Temporal Web UI.
      - "8233:8233"
    command: server start-dev --ip 0.0.0.0 --db-filename /home/temporal/temporal.db
    volumes:
      - temporal-data:/home/temporal
    networks:
      - ctrlplane

  ################################
  # clickhouse.io
  ################################

  clickhouse:
    container_name: clickhouse
    image: clickhouse/clickhouse-server:24.8
    environment:
      CLICKHOUSE_DB: ${PULSE__NAME:-pulse}
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
      CLICKHOUSE_USER: ${PULSE__USER:-pulse}
      CLICKHOUSE_PASSWORD: ${PULSE__PASS:-pulse}
    ports:
      - "8123:8123" # why do we need http port?
      - "9000:9000"
    volumes:
      - clickhouse-data:/var/lib/clickhouse
      - clickhouse-logs:/var/log/clickhouse-server/
    # command: ["--", "-L", "-", "-E", "-"] # docker run -it clickhouse/clickhouse-server:head -- -L - -E -
    networks:
      - ctrlplane

  ################################
  # quantm.io ctrlplane
  ################################

  ctrlplane-db:
    container_name: ctrlplane-db
    image: postgres:16
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: ${DB__USER:-ctrlplane}
      POSTGRES_PASSWORD: ${DB__PASS:-ctrlplane}
      POSTGRES_DB: ${DB__NAME:-ctrlplane}
    volumes:
      - ctrlplane-db-data:/var/lib/postgresql/data
    command: ["postgres", "-c", "log_statement=all"]
    networks:
      - ctrlplane

################################
# network and storage
################################

networks:
  ctrlplane: {}

volumes:
  temporal-data: {}
  clickhouse-data: {}
  clickhouse-logs: {}
  ctrlplane-db-data: {}
